<mat-toolbar class="mat-elevation-z4" style='margin-top: 0px; background-color: #ececec;'>
  <h2>Customer details</h2>
  <span class="example-fill-remaining-space"></span>
  <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
  <div class="button-row tool-button-spacer">
    <button mat-icon-button class="tool-button" *ngIf="edit"(click)="editEntry();" matTooltip="Edit">
      <mat-icon >mode_edit</mat-icon>
    </button>
    <div class="tool-button-spacer"></div>
    <button mat-mini-fab class="tool-button" color="primary" [routerLink]="'/customers'" matTooltip="Back to list" matTooltipPosition="left">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-tab-group class="mat-elevation-z4">
  <mat-tab label="Overview">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Details</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
         <mat-form-field>
            <input matInput placeholder="id" [(ngModel)]="dataView.id" name="id" [disabled]='true' >
          </mat-form-field>
         <mat-form-field>
            <input matInput placeholder="Name" [(ngModel)]="dataView.name" name="userName" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Vorname" [(ngModel)]="dataView.vorname" name="vorname" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email"  [(ngModel)]="dataView.email" name="email" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="telefon" [(ngModel)]="dataView.telefon" name="telefon" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Create date" value="{{dataView.createdDate | DateFormatPipe }}" name="dateCreated" length="50" [disabled]="true">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Last changes at" value="{{dataView.updatedDate | DateFormatPipe }}" name="dateModified" length="50" [disabled]="true">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="kennzeichen"  [(ngModel)]="dataView.kennzeichen" name="kennzeichen" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="lagerplatz" [(ngModel)]="dataView.lagerplatz" name="lagerplatz" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="reifensize"  [(ngModel)]="dataView.reifensize" name="reifensize" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="reifenmarke" [(ngModel)]="dataView.reifenmarke" name="reifenmarke" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="profiltiefe"  [(ngModel)]="dataView.profiltiefe" name="profiltiefe" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="dot"  [(ngModel)]="dataView.dot" name="dot" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="felgeninfo"  [(ngModel)]="dataView.felgeninfo" name="felgeninfo" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Notizen/Empfehlungen"  [(ngModel)]="dataView.notizenempfehlungen" name="notizenempfehlungen" [disabled]='edit' >
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <textarea matInput
                        placeholder="History"
                        [(ngModel)]="dataView.history"
                        name="history"
                        [disabled]='edit'
                        matTextareaAutosize
                        matAutosizeMinRows="20"
                        matAutosizeMaxRows="30"></textarea>
            </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button [disabled]="edit" (click)="downloadPdf();" matTooltip="Einlagerungsbeleg">
          Einlagerungsbeleg
        </button>
        <a href='assets/files/F18 V. Raaz.doc'>
          Einlagerungsbeleg
        </a>
        <div class="tool-button-spacer"></div>
        <button mat-raised-button [disabled]="edit" (click)="cancelEntry();" matTooltip="Cancel Edit">
          Cancel
        </button>
        <button mat-raised-button color="primary"
                class="tool-button"
                [disabled]="edit"
                (click)="saveEntry();"
                matTooltip="Save">
          Save
        </button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
</mat-tab-group>

