<mat-toolbar class="mat-elevation-z4" style="margin-top: 0px; background-color: #ececec;">
  <span>Users</span>
  <span class="example-fill-remaining-space"></span>
  <div class='has-error' *ngIf='errorMessage'>{{errorMessage}}</div>
  <div class="button-row tool-button-spacer">
    <button mat-icon-button class="tool-button" (click)="filter.value='';ngOnInit()" matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="mat-elevation-z4" style="padding: 12px 8px;">
  <div class="table-filter">
    <mat-form-field floatPlaceholder="never">
      <input matInput #filter placeholder="Filter*">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort [matSortDisableClear]="true">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
      <mat-cell *matCellDef="let row"> <a class="link" [routerLink]="'details/' + row.id">{{ row.id }}</a> </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userName">
      <mat-header-cell class="customWidthClass" *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
      <mat-cell class="customWidthClass" *matCellDef="let row"> {{row.userName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef mat-sort-header> fullName </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.fullName }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> email* </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.email }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [length]="count"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>


