
<mat-toolbar class="mat-elevation-z4" style='margin-top: 0px; background-color: #ececec;'>
  <span>Home</span>
  <span class="example-fill-remaining-space"></span>
  <div class="button-row tool-button-spacer">
    <button mat-icon-button class="tool-button" (click)="ngOnInit()" matTooltip="Refresh">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-grid-list cols="2" rowHeight="400px" gutterSize="12">

  <mat-grid-tile colspan="2" class="mat-elevation-z4" >
    <mat-card class="dash-card">
      <mat-card-header style="padding-left: 50px;margin-bottom:10px;">
        NPS-Trend
      </mat-card-header>
      <mat-card-content *ngIf="isDataAvailable">
        <div *ngIf="isDataAvailableChart" style="height: 340px;">
          <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColorsTest"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="mat-elevation-z4">
    <mat-card class="dash-card">
      <mat-card-header style="padding-left: 25px;">
        Promoter current mailing
      </mat-card-header>
      <mat-card-content >
        <div *ngIf="isDataAvailable" style="height: 340px;">
          <canvas baseChart
                  [datasets]="splitChartData"
                  [labels]="splitChartLabels"
                  [options]="splitChartOptions"
                  [legend]="splitChartLegend"
                  [colors]="splitChartColors"
                  [chartType]="splitChartType"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile class="mat-elevation-z4">
    <mat-card class="dash-card">
      <mat-card-header style="padding-left: 25px;">
        Feedback current mailing
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="isDataAvailable" style="height: 340px;">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [colors]="barChartColors"
                  [chartType]="barChartType"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<div class="mat-elevation-z4" style="background-color: #ececec; font-size: 75%;">
  <p style="padding: 4px;">© 2018 Dr. Glinz COVIS GmbH | <a title="www.covis.de" href="https://www.covis.de" target="_blank">www.covis.de</a> | Version 1.0.3.0</p>
</div>
